<%- include('../partial/header.ejs') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br>
    <div id="cartContainer" class="mainDiv">
        <ul id="ul">

        </ul>
    </div>
    <script src="../cart.js"></script>

<%- include('../partial/footer.ejs') %>