<%- include('../partial/header.ejs') %>
<div style="display: block; text-align: left; width: 950px; margin: 0 auto; text-align: center; padding: 150px; font: 20px Helvetica, sans-serif; color: #333;  ">
<h1 style="font-size: 40px;">Welcome <%= name %> </h1>
<div>
<p>you successfully logged in our systems. now you can enjoy the services provided by us | for any inconvenience Contact us <a href="www.pankajnamotra.com" style="color: #dc8100; text-decoration: none; ">www.pankajnamotra.com</a>. We'll will contact you soon!</p>
<p>— Coding is love &hearts;</p>
<a href="/logout" style="color: #dc8100; text-decoration: none; ">logout</a> <br>
<a href="/changePassword" style=" text-decoration: none; ">change password</a>
</div>
</div>


<%- include('../partial/footer.ejs') %>
