<%- include('../partial/header.ejs') %>

<br>
<br><br>  

<form class="m-5" action="/forgetPassword" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-success mt-4">Send email</button>
  </form>
  
<% if(err === 0){ %>
    <h6 style="background-color: rgb(0, 255, 106); color: #000000;">Email send successfully </h6>
<% } %>
<% if(err === 1){ %>
    <h6 style="background-color: rgb(255, 38, 0); color: #f4f4f4;">Wrong email</h6>
<% } %>
<% if(err === 2){ %>
    <h6 style="background-color: orange; color: #f4f4f4;">Email not verified</h6>
<% } %>
<% if(err === 99){ %>
    <h6 style="background-color: rgba(0, 177, 15, 0.808); color: #f4f4f4;">CONGO ::: Email send successfully</h6>
<% } %>

<%- include('../partial/footer.ejs') %>