<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <h2 style="text-align: center;">Admin</h2>
    <a style="padding:6px 10px; background-color: red; color:#f4f4f4; text-decoration: none; position: fixed; top: 8px; left: 8px;" href="/logout">logout</a>
    <a style="padding:6px 10px; background-color: #EA8F1C; color:#f4f4f4; text-decoration: none; position: fixed; top: 50px; left: 8px;" href="/admin">Home</a>
    <div id="cartContainer" class="mainDiv">
        <ul id="ul">

        </ul>
    </div>

    <button style="background-color: #EA8F1C; position: fixed; bottom: 10px; right: 6px; z-index: 2; border: none; color: #f4f4f4; padding: 0  20px;" id="ShowMore">more</button>

    <script src="../LoadingAdminData.js"></script>
</body>
</html>